.tabs-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  & .tabs-header__title {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    font-size: 1.5rem;
    font-weight: 500;

    & svg {
      height: 27px;
      margin-right: .5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .tabs-header {
    margin-bottom: 1rem;

    & .tabs-header__title {
      font-size: 1.3rem;
    }
    & .tabs-header__input {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .tabs-header {
    flex-direction: column;

    & button {
      margin-top: 1.5rem;
    }
  }
}