.custom-tab {
  padding: 1rem;
  margin: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  display: flex;
  align-items: center;

  &:hover, &.custom-tab--active {
    background-color: var(--color-blue-hover-darker);
    border-radius: 6px;
    color: var(--color-blue-primary);
  }

  & svg {
    height: 16px;
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 768px) {
  .custom-tab {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: .5rem;
    font-size: .8rem;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--color-border);

    & svg {
      height: 24px;
      margin-right: 0;
      margin-bottom: .5rem;
    }
  }
}