/* KEYFRAMES */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* FADE TRANSITION */
.custom-transition--fade-enter-active {
  animation: fade .5s;
}

.custom-transition--fade-leave-active {
  animation: fade .5s reverse;
}

/* SCALE TRANSITION*/
.custom-transition--scale-enter-active {
  animation: scale .5s;
}

.custom-transition--scale-leave-active {
  animation: scale .5s reverse;
}

/* SLIDE UP */
.custom-transition--slide-up-enter-active {
  animation: slide-up .5s;
}

.custom-transition--slide-up-leave-active {
  animation: slide-up .5s reverse;
}

/* SLIDE LEFT */
.custom-transition--slide-left-enter-active {
  animation: slide-left .5s;
}

.custom-transition--slide-left-leave-active {
  animation: slide-left .5s reverse;
}

/* SLIDE DOWN */
.custom-transition--slide-down-enter-active {
  animation: slide-down .5s;
}

.custom-transition--slide-down-leave-active {
  animation: slide-down .5s reverse;
}

/* SLIDE RIGHT */
.custom-transition--slide-right-enter-active {
  animation: slide-right .5s;
}

.custom-transition--slide-right-leave-active {
  animation: slide-right .5s reverse;
}