// Conteneur
// ==================
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

#page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  main:not(.signin):not(.signup):not(.forgot):not(.reset) {
    @extend %container;
    padding: 4rem 0;

    &.missions .missions__body, &.profiles .profiles__body, &.documents .documents__body, &.organizations .organizations__body {
      background-color: var(--color-background-lighter);
      box-shadow: 0 2px 4px var(--shadow);
      display: flex;
    }
  }

  & a:hover {
    color: var(--color-blue-primary);
  }
}

.page-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  main:not(.signin):not(.signup):not(.forgot):not(.reset) {
    padding-top: 2rem !important;
    padding-bottom: 8rem !important;
  }
}

// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}
