.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: opacity .2s, background-color .3s, color .3s;

  &:disabled {
    background-color: var(--color-gray-lighter-2) !important;
    border: 1px solid var(--color-gray-lighter-2) !important;
    color: var(--color-gray-lighter-3) !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
  }

  &:hover:disabled {
    background-color: var(--color-gray-lighter-2) !important;
    border: 1px solid var(--color-gray-lighter-2) !important;
    color: var(--color-gray-lighter-3) !important;
    cursor: not-allowed !important;
  }

  &.custom-button--success {
    background-color: var(--color-green-primary);
    color: var(--color-white-primary);
    box-shadow: 0 10px 15px -3px rgba(76, 175, 80, .2), 0 4px 6px -2px rgba(76, 175, 80, .1);

    &:hover {
      background-color: var(--color-green-darker);
    }

    &.custom-button--outlined {
      border: var(--color-green-primary) solid 1px;
      background-color: transparent;
      color: var(--color-green-primary);

      &:hover {
        background-color: var(--color-green-primary);
        color: var(--color-white-primary)
      }
    }

    &.custom-button--flat {
      box-shadow: none;
    }
  }

  &.custom-button--warning {
    background-color: var(--color-orange-primary);
    color: var(--color-white-primary);
    box-shadow: 0 10px 15px -3px rgba(251, 140, 0, .2), 0 4px 6px -2px rgba(251, 140, 0, .1);

    &:hover {
      background-color: var(--color-orange-darker);
    }

    &.custom-button--outlined {
      border: var(--color-orange-primary) solid 1px;
      background-color: transparent;
      color: var(--color-orange-primary);

      &:hover {
        background-color: var(--color-orange-primary);
        color: var(--color-white-primary)
      }
    }

    &.custom-button--flat {
      box-shadow: none;
    }
  }

  &.custom-button--error {
    background-color: var(--color-red-primary);
    color: var(--color-white-primary);
    box-shadow: 0 10px 15px -3px rgba(255, 82, 82, .2), 0 4px 6px -2px rgba(255, 82, 82, .1);

    &:hover {
      background-color: var(--color-red-darker);
    }

    &.custom-button--outlined {
      border: var(--color-red-primary) solid 1px;
      background-color: transparent;
      color: var(--color-red-primary);

      &:hover {
        background-color: var(--color-red-primary);
        color: var(--color-white-primary)
      }
    }

    &.custom-button--flat {
      box-shadow: none;
    }
  }

  &.custom-button--info {
    background-color: var(--color-blue-primary);
    color: var(--color-white-primary);
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .2), 0 4px 6px -2px rgba(33, 150, 243, .1);

    &:hover {
      background-color: var(--color-blue-darker);
    }

    &.custom-button--outlined {
      border: var(--color-blue-primary) solid 1px;
      background-color: transparent;
      color: var(--color-blue-primary);

      &:hover {
        background-color: var(--color-blue-primary);
        color: var(--color-white-primary)
      }
    }

    &.custom-button--flat {
      box-shadow: none;
    }
  }

  &.custom-button--xs:not(.custom-button--icon) {
    height: 20px;
    min-width: 36px;
    padding: 0 9px;
    font-size: .75rem;

    & .custom-button__loading {
      width: 12px !important;
      height: 12px !important;

      & .ui-progress-circular {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }

  &.custom-button--sm:not(.custom-button--icon) {
    height: 28px;
    min-width: 50px;
    padding: 0 12px;
    font-size: .875rem;

    & .custom-button__loading {
      width: 18px !important;
      height: 18px !important;

      & .ui-progress-circular {
        width: 18px !important;
        height: 18px !important;
      }
    }
  }

  &.custom-button--md:not(.custom-button--icon) {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    font-size: 1rem;

    & .custom-button__loading {
      width: 20px !important;
      height: 20px !important;

      & .ui-progress-circular {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  &.custom-button--lg:not(.custom-button--icon) {
    height: 44px;
    min-width: 78px;
    padding: 0 20px;
    font-size: 1.2rem;

    & .custom-button__loading {
      width: 28px !important;
      height: 28px !important;

      & .ui-progress-circular {
        width: 28px !important;
        height: 28px !important;
      }
    }
  }

  &.custom-button--xl:not(.custom-button--icon) {
    height: 52px;
    min-width: 92px;
    padding: 0 23px;
    font-size: 1.4rem;

    &.custom-button--rounded {
      border-radius: 10px;
    }

    & .custom-button__loading {
      width: 35px !important;
      height: 35px !important;

      & .ui-progress-circular {
        width: 35px !important;
        height: 35px !important;
      }
    }
  }

  &.custom-button--rounded-sm {
    border-radius: 2px;
  }

  &.custom-button--rounded-md {
    border-radius: 4px;
  }

  &.custom-button--rounded-lg {
    border-radius: 6px;
  }

  &.custom-button--rounded-full {
    border-radius: 99999px;
  }

  &.custom-button--block {
    width: 100%;

    & .custom-button__content {
      width: 100%;
      justify-content: center;
    }
  }

  &.custom-button--icon {
    color: currentColor;
    border-color: transparent;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &.custom-button--text {
    border-color: transparent;
    background-color: transparent;

    &.custom-button--success {
      color: var(--color-green-primary);

      &:hover {
        background-color: var(--color-green-hover-lighter);
      }
    }

    &.custom-button--warning {
      color: var(--color-orange-primary);

      &:hover {
        background-color: var(--color-orange-hover-lighter);
      }
    }

    &.custom-button--error {
      color: var(--color-red-primary);

      &:hover {
        background-color: var(--color-red-hover-lighter);
      }
    }

    &.custom-button--info {
      color: var(--color-blue-primary);

      &:hover {
        background-color: var(--color-blue-hover-lighter);
      }
    }

  }

  & .custom-button__content {
    display: flex;
    align-items: center;
  }
}