.custom-dropdown {
  position: relative;

  & .custom-dropdown__title {
    display: flex;
    align-items: center;
  }

  & .custom-dropdown__popover {
    position: absolute;
    background-color: var(--color-white-primary);
    box-shadow: 0 2px 4px var(--shadow);
    z-index: 2;
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .custom-dropdown {
    position: initial;

    & .custom-dropdown__popover {
      top: 52px;
      right: 1rem;
    }
  }
}