// Variables
// ==================
:root {
  --color-background: #F9FAFC;
  --color-background-lighter: #FFFFFF;
  --color-text: #121C42;
  --color-border: #D5E3EC;
  --color-blue-primary: #3E66FB;
  --color-blue-lighter: #9EB3FD;
  --color-blue-darker: #2E4CBC;
  --color-blue-hover-lighter: rgba(158, 179, 253, .1);
  --color-blue-hover-darker: rgba(158, 179, 253, .3);
  --color-green-primary: #3CC13B;
  --color-green-lighter: #9DE09D;
  --color-green-darker: #2D912C;
  --color-green-hover-lighter: rgba(60, 193, 59, .1);
  --color-green-hover-darker: rgba(60, 193, 59, .3);
  --color-red-primary: #F03738;
  --color-red-lighter: #F89B9B;
  --color-red-darker: #B4292A;
  --color-red-hover-lighter: rgba(240, 55, 56, .1);
  --color-red-hover-darker: rgba(240, 55, 56, .3);
  --color-orange-primary: #F3BB1C;
  --color-orange-lighter: #F9DD8D;
  --color-orange-darker: #B68C15;
  --color-orange-hover-lighter: rgba(243, 187, 28, .1);
  --color-orange-hover-darker: rgba(243, 187, 28, .3);
  --color-gray-primary: #C2C9D1;
  --color-gray-lighter-1: #F2F2F2;
  --color-gray-lighter-2: #E1E4E8;
  --color-gray-lighter-3: #92979D;
  --color-gray-darker-1: #848484;
  --color-gray-darker-2: #333333;
  --color-black-primary: #000000;
  --color-black-overlay: rgba(0, 0, 0, .7);
  --color-white-primary: #FFFFFF;
  --shadow: #D8E1E8;
  //--shadow-elevation-1:  0px 2px 2px rgba(152, 162, 179, 0.15), 0px 1px 5px rgba(152, 162, 179, 0.15);
  //--shadow-elevation-2: 0px 0px 12px rgba(152, 162, 179, 0.15), 0px 0px 4px rgba(152, 162, 179, 0.15), 0px 0px 2px rgba(152, 162, 179, 0.15);
  //--shadow-elevation-3: 0px 12px 24px rgba(65, 78, 101, 0.1), 0px 6px 12px rgba(65, 78, 101, 0.1), 0px 4px 4px rgba(65, 78, 101, 0.1), 0px 2px 2px rgba(65, 78, 101, 0.1);
  //--shadow-elevation-4: 0px 40px 64px rgba(65, 78, 101, 0.1), 0px 24px 32px rgba(65, 78, 101, 0.1), 0px 16px 16px rgba(65, 78, 101, 0.1), 0px 8px 8px rgba(65, 78, 101, 0.1), 0px 4px 4px rgba(65, 78, 101, 0.1), 0px 2px 2px rgba(65, 78, 101, 0.1);
}

// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";
@import "tools/layout";
@import "tools/typography";
@import "tools/animations";


// Dark mode
// =============
@include dark {
  --color-background: #171933;
  --color-background-lighter: #1B1E3D;
  --color-text: #D4DCFF;
  --color-border: #2A2E5E;
  --shadow: rgba(0, 0, 0, .2);
}


// Date picker
// =============
.v3dp__datepicker {
  --popout-bg-color: var(--color-background-lighter);
  --text-color: var(--color-text);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  --border-radius: var(--vdp-border-radius, 3px);
  --heading-size: var(--vdp-heading-size, 2.5em);
  --heading-weight: var(--vdp-heading-weight, bold);
  --heading-hover-color: var(--color-background);
  --arrow-color: var(--color-text);
  --elem-color: var(--color-text);
  --elem-disabled-color: var(--vdp-disabled-color, #d5d9e0);
  --elem-hover-color: var(--vdp-selected-color, #fff);
  --elem-hover-bg-color: var(--color-blue-primary);
  --elem-selected-color: var(--vdp-selected-color, #fff);
  --elem-selected-bg-color: var(--color-blue-primary);
  --elem-font-size: var(--vdp-elem-font-size, 0.8em);
  --elem-border-radius: var(--vdp-elem-border-radius, 3px);
  --divider-color: var(--color-border);
}

// Generic
// ==================
body {
  font-family: $font;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-text);
  background: var(--color-background);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

svg {
  height: 1rem;
}

::selection {
  background: var(--color-blue-primary);
  color: #FFFFFF;
}

// Modules
// ==================
@import "module/core/core-footer";
@import "module/core/core-header";
@import "module/core/core-notification";
@import "module/core/core-user-menu";
@import "module/custom/form/custom-date-picker";
@import "module/custom/form/custom-file-upload";
@import "module/custom/form/custom-input";
@import "module/custom/form/custom-select";
@import "module/custom/form/custom-radio";
@import "module/custom/form/custom-checkbox";
@import "module/custom/layout/custom-row";
@import "module/custom/notification/custom-notification";
@import "module/custom/tabs/custom-tabs";
@import "module/custom/tabs/custom-tab";
@import "module/custom/tabs/custom-tab-items";
@import "module/custom/tabs/custom-tab-item";
@import "module/custom/custom-dropdown";
@import "module/custom/custom-dialog";
@import "module/custom/custom-button";
@import "module/custom/custom-progress-circular";
@import "module/custom/custom-entries-not-found";
@import "module/page/page-header";
@import "module/page/tab/tab-header";
@import "module/page/list/list-items";
@import "module/page/list/list-item";
@import "module/page/documents/document-upload-item";

// Pages
// ==================
@import "page/password/forgot";
@import "page/password/reset";
@import "page/documents";
@import "page/profiles";
@import "page/signin";
@import "page/signup";
@import "page/organizations";
