.core-notification {
  width: 350px;
  background-color: var(--color-background-lighter);

  & .core-notification__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);

    & svg {
      cursor: pointer;

      &:hover {
        color: var(--color-blue-primary);
      }
    }
  }

  & .core-notification__items {
    max-height: 450px;
    overflow-y: auto;

    & .core-notification-item {
      display: block;
      padding: .75rem 1rem;
      border-bottom: 1px solid var(--color-border);

      &:hover {
        background-color: var(--color-blue-hover-lighter);
        color: var(--color-blue-primary);
      }

      & h2 {
        font-weight: 500;
      }

      & p {
        margin: .5rem 0;
        font-size: .9rem;
        font-weight: 400;
      }

      & span {
        color: var(--color-gray-darker-1);
      }
    }
  }

  & .core-notification__footer {
    display: flex;
    padding: 1rem;

    & a {
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        color: var(--color-blue-primary);
      }
    }
  }
}
