.core-header {
  @extend %container;
  height: 60px;
  background-color: var(--color-background-lighter);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;

  & > ul {
    display: flex;
    align-items: center;

    &.core-user-menu li a, &.core-user-menu li button {
      width: 100%;
      justify-content: flex-start;
    }

    & li a, & li button svg, & li > svg {
      cursor: pointer;

      &:hover {
        color: var(--color-blue-primary)
      }
    }
  }

  & .core-header__brand img {
    height: 2.5rem;

    &:last-child {
      display: none;
    }
  }

  & .core-header__nav {
    flex: 1;
    margin-left: 2rem;
    transition: opacity .3s;
    overflow: hidden;

    & li {
      margin: 0 1rem;
      cursor: pointer;

      &.core-header__nav__link--active {
        color: var(--color-blue-primary);
      }
    }
  }

  & .core-header__side {
    & > li {
      display: flex;
      align-items: center;
      margin-left: 1.5rem;
      z-index: 20;

      & > a {
        display: flex;
        align-items: center;
      }

      & svg {
        height: 1.25rem;
      }

      &.core-header__user svg {
        margin-left: .5rem;
        height: 1rem;
      }

      &.core-header__burger {
        display: none;

        & button {
          height: 20px;
          width: 20px;
        }

        & span {
          font-size: 0;
          text-indent: -3000px;
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          background: currentColor;
          position: relative;
          transition: .3s;
          transition-property: top, bottom, transform;

          &::before, &::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            position: relative;
            transition: .3s;
            transition-property: top, bottom, transform;
          }

          &::before {
            bottom: -6px;
          }

          &::after {
            top: -8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .core-header {
    &.core-header--mobile {
      & .core-header__nav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255, .9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        opacity: 1;
        visibility: visible !important;
        z-index: 20;

        & li {
          width: 200px;
          display: inline-block;
          margin: 1rem 0;
          text-align: center;
        }
      }

      .core-header__side .core-header__burger span {
        transform: rotate(-135deg);

        &::before {
          bottom: 0;
          transform: rotate(-90deg);
        }

        &::after {
          top: -2px;
          transform: rotate(0);
        }
      }
    }

    & .core-header__brand img {
      height: 2.5rem;

      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline-block;
      }
    }

    & .core-header__nav {
      flex: 0;
      visibility: hidden;
      opacity: 0;
      margin-left: 0;

      & li {
        user-select: none;
      }
    }

    & .core-header__side {
      font-size: .9rem;
    }

    & .core-header__burger {
      display: inline-flex !important;
    }
  }
}
