.custom-input {
  display: flex;
  flex-direction: column;

  & label {
    font-weight: 500;
    margin-bottom: .5rem;
  }

  & input {
    border-radius: 6px;
    padding: .75rem .5rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-background-lighter);

    &::placeholder {
      color: var(--color-gray-darker-1);
    }

    &:focus {
      border-color: var(--color-blue-primary);
    }
  }

  & .custom-input__error-message {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin-top: .5rem !important;
    padding: 0;
    font-size: .8rem;
    color: var(--color-red-primary);
    font-weight: 500;

    & svg {
      margin-right: .25rem;
    }
  }

  &.custom-input--error {
    & label {
      color: var(--color-red-primary) !important;
    }

    & input {
      border-color: var(--color-red-primary) !important;
    }
  }
}