.custom-input {
  display: flex;
  flex-direction: column;

  & label {
    font-weight: 500;
    margin-bottom: .5rem;
  }

  & input {
    border-radius: 6px;
    padding: .75rem .5rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-background-lighter);

    &::placeholder {
      color: var(--color-gray-darker-1);
    }

    &:focus {
      border-color: var(--color-blue-primary);
    }
  }
}